<!--
Coded By: Paul N Thompson
Coded for the NOMSS Tech Challenge
Very simple front end to send request body and receive response from warehouse api
This was constructed to demonstrate the api receiving external data
-->

<H1>Confirm Orders</H1>
<p>Please select the orders to be placed.</p>

<form name="place_order_form">
    <input type="Checkbox" name="orders" value ="1122">1122
    <input type="Checkbox" name="orders" value ="1123">1123
    <br>
    <input type="Checkbox" name="orders" value ="1124">1124
    <input type="Checkbox" name="orders" value ="1125">1125
    <br>
    <button type="button" onclick="placeOrders();">Place Orders</button>
</form>

<script type="text/javascript" src="../scripts/functions.js"></script>

<script type="text/javascript">
    // Looks at all Checkbox elements with the name 'order' adds ints to dictionary
    function placeOrders() {
        var placedOrders = {}
        var orders = document.getElementsByName("orders");
        for(var i = 0; i < orders.length; i++) {
            if(orders[i].checked == true) {
                if (!placedOrders["orderIds"]) placedOrders["orderIds"] = []
                placedOrders["orderIds"].push(parseInt(orders[i].value));
            }
        }

        console.log("Placing Orders");
        console.log(placedOrders);

        url = "{{ url_for('warehouse_blueprint.placeOrders')}}";
        
        postData(url, placedOrders, "POST")
            .then(data => {
                //Receives unfulfilled orders as response, alerts user of order
                console.log(data)
                if (typeof data.Unfillable !== 'undefined') {
                    if (data.Unfillable.length > 0) {
                        alert("Error fulfilling orders: " + data.Unfillable)
                    } 
                } else {
                        alert("All orders fulfilled")
                }
            })
    }

    // Function to help create fetch calls, reduces duplicate code
    function postData(url = '', data = {}, r_method ='POST') {
        return fetch(url, {
            method: r_method,
            mode:"cors",
            cache: "no-cache",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow",
            referrer: "no-referrer",
            body: JSON.stringify(data),
        })
        .then(response => response.json());
    }
</script>